* {
    margin: 0;
    padding: 0;
}

body html {
    background: #fff;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    /*background: red;*/
}

/*  ------------------- 头部开始 -------------------*/
.wrapper-header {
    width: 100%;
    background: #fff;
}

.header-filter {
    display: flex;
    margin: 30px 0;
}

.filter-label {
    color: #959595;
    width: 50px;
    font-size: 14px;
}

.filter-content {
    flex: 1;
}

.filter-content a {
    display: inline-block;
    color: #333;
    cursor: pointer;
    width: 83px;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}

.filter-content a span.active {
    padding: 2px 6px;
    background-color: rgba(4, 190, 131, 1);
    color: #ffffff;
}

/*  ------------------- 头部结束 -------------------*/

/*  ------------------- 内容开始 -------------------*/
.wrapper-main {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.main-left {
    width: 860px;
    border: 1px solid #ccc;
}

.main-left-header {
    width: 100%;
    height: 50px;
    background: #F4F3F0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-left-header > div {
    margin-right: 20px;
}

.main-left-header > div select {
    width: 100px;
    height: 25px;
}

.main-left-content {
    padding: 20px;
    box-sizing: border-box;
}

.main-left-item {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 16px;
    width: 810px;
}

.main-left-item:hover .item-title {
    color: #56BB87 !important;
}

.main-left-item:last-child {
    border-bottom: none;
}

.main-left-item .img-box {
    width: 226px;
    height: 146px;
    border: solid 2px rgba(223, 220, 220, 1);
    overflow: hidden;
    margin: 0 8px;
    display: inline-block;
}

.main-left-item .img-box img {
    width: 100%;
    height: 100%;
}

.main-left-item .item-info-box {
    width: 564px;
    height: 150px;
    overflow: hidden;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left-item .item-info-box .item-title {
    text-indent: 10px;
    color: #424141;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 0;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-left-item .item-info-box .item-info1 {
    height: 28px;
    color: #424141;
    font-size: 16px;
}

.main-left-item .item-info-box .item-info2 {
    text-align: justify;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #424141;
    font-size: 16px;
}

.main-left-item .item-info-box .item-info3 {
    color: #959595;
    font-size: 14px;
    overflow: hidden;
    line-height: 14px;
    height: 14px;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-right {
    width: 320px;
    border: 1px solid #ccc;
}

.main-right .main-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    height: 50px;
}

.main-right .main-right-header h3 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #333333;
}

.main-right .main-right-header span {
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #959595;
}

.main-right .main-right-content {
    padding: 40px 20px;
    box-sizing: border-box;
}

.main-right .main-right-content .main-right-item {
    margin: 10px 0;
    border: solid 1px rgba(229, 229, 229, 1);
    position: relative;
}
.main-right .main-right-content .main-right-item:hover p {
    color: #56BB87 !important;
}

.main-right .main-right-content .main-right-item img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.main-right .main-right-content .main-right-item p {
    display: inline-block;
    width: 219px;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    font-size: 16px;
}

/*  ------------------- 内容结束 -------------------*/


/*  ------------------- 尾部开始 -------------------*/
.wrapper-footer {
    width: 100%;
    background: #F5F5F5;
    margin-top: 30px;
    position: relative;
}

.wrapper-footer .footer-in {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 100px 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrapper-footer .footer-item {
    border-right: 1px solid #ccc;
}

.wrapper-footer .footer-item:nth-child(1) {
    width: 120px;
}

.wrapper-footer .footer-item:nth-child(2) {
    width: 200px;
}

.wrapper-footer .footer-item:nth-child(3) {
    width: 190px;
}

.wrapper-footer .footer-item:nth-child(3) {
    width: 190px;
}

.wrapper-footer .footer-item img {
    width: 170px;
}

.wrapper-footer .footer-item:last-child {
    border-right: none;
}

.wrapper-footer .footer-item:nth-last-child(2) {
    border-right: none;
}

.footer-item .footer-item-title {
    color: #333;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 26px;
}

.footer-item .footer-item-text {
    display: flex;
    flex-direction: column;
}

.footer-item .footer-item-text > a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

/*  ------------------- 尾部结束 -------------------*/
